
<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="login-form">
  
      <div class="row">
                
        <div class="col-xs-12">
          <%= f.text_field :name, autofocus: true , :class => "form-control input-lg", :placeholder =>"Project Name"%>
          <span class="glyphicon glyphicon-user"></span>
        </div>
        
        
        <%= f.hidden_field :user_id, :value => (current_user.id if current_user)%>

     <div class="col-xs-12 text-right">
      <%= f.submit "Create",  :class => "btn btn-lg btn-success"%>
      <%= link_to 'Back', current_user, :class => "btn btn-lg btn-default" %>
     </div>
     
<% end %>
