
<div class="row log-in">
  
<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

  <h2 class="text-center">Change your profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
   <section class="login-form">
   		<div class="col-xs-12">
   			<div class="picture-container">
            	<div class="picture">
				<%= image_tag(current_user.avatar.url(:thumb), :id =>"1", :alt => "default-avatar", :class =>"picture-src image-display")%>
            	<%= f.file_field :avatar,:id =>"2", :class =>"image-upload"%> 
            	</div>
               <p class="text-center">Choose Picture</p>
              </div>
		</div>

				<div class="col-xs-12">
					<div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-user"></i>
					     <%= f.text_field :username, autofocus: true , :class => "form-control input-lg", :placeholder =>"Username"%>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-envelope"></i>
					     <%= f.email_field :email, autofocus: true , class: "form-control input-lg", :placeholder =>"Email" %>
					</div>
				</div>
 
 				<div class="col-xs-12">
					<p><i>(We need your current password to confirm your changes)</i><br /></p>
					<div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-lock"></i>
					     <%= f.password_field :current_password, autocomplete: "off", :class =>"form-control input-lg" , :placeholder =>"Current Password" %>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-lock"></i>
					     <%= f.password_field :password, autocomplete: "off", :class =>"form-control input-lg" , :placeholder =>"Password" %>
					</div>
          
				</div>
				
				<div class="col-xs-12">
					<div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-lock"></i>
					     <%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control input-lg" , :placeholder =>"Confirm Password" %>
					</div>
				</div>
 
 <div class="col-xs-12 text-right">
      <%= f.submit "Change Password",  :class =>"btn btn-default btn-lg btn-success"%>
      <%= link_to 'Back', current_user, :class => "btn btn-lg btn-default" %>
 </div>
<% end %>
 

</div>
</div>
</div>