<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="https://photos-2.dropbox.com/t/2/AACBnS_fCGUiYa5YhaG5C2vh9OCsm7oZcu_9j2hIE5RrOQ/12/314075836/png/32x32/1/1443769200/0/2/default-avatar.png/CLzV4ZUBIAEgAiADIAYgBygCKAc/ZCuGjxBeUJiCVlXECpRVxvsE-Ta8NAVrfo2C9vUCPis?size=1024x768&size_mode=2" class="img-responsive" alt="">
				</div>
				
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @user.username %>
					</div>
					
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<%= render 'follow' %>
					<%= render 'follow_form' if signed_in?%>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
					
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<%= link_to edit_user_registration_path do %>
  								<%= content_tag :i , "" ,:class=>"glyphicon glyphicon-user" %>
  								<%=  "Account Settings"  %>
							<% end %>
							
							 </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
              <div class="container-project">
			   	<div class="panel panel-default">
					<div class="panel-heading">
					<h3>Projects</h3>
					</div>
					<div class="panel-body"></div>
			   </div>
			   
			   <div class="container-project">
			   	<div class="panel panel-success">
					<div class="panel-heading">
					<h3>Teams</h3>
					</div>
					<div class="panel-body"></div>
			   </div>
            </div>
		</div>
	</div>
</div>