<%= form_for(@project, url: projects_path, html: { multipart: true }) do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <section class="login-form">
  
      <div class="row">
                
        <div class="col-xs-12">
          <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-list-alt"></i>
               <%= f.text_field :name, autofocus: true , :class => "form-control input-lg", :placeholder =>"Project Name"%>
          </div>
          
        </div>
        
        <div class="col-xs-12">
          <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-pencil"></i>
               <%= f.text_area :description, autofocus: true , class: "form-control input-lg", :placeholder =>"Short description of you project ..." %>
          </div>
          
        </div>

        <div class="col-xs-12">
          <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-eye-open"></i>
               <%= f.url_field :github_url, autofocus: true , :class => "form-control input-lg", :placeholder =>"Github Url"%>
          </div>
        </div>
        
        
     <div class="col-xs-12 text-right">
      <%= f.submit "Create",  :class => "btn btn-lg btn-success"%>
      <%= link_to 'Back', current_user, :class => "btn btn-lg btn-default" %>
     </div>

    <% end %>