<div class="container-fluid container-compressed">
<div class="panel panel-default panel-show">
  <div class="panel-body">
    <div class="col-xs-7">
		<%= image_tag @project.avatar_project ,:class => "img-responsive img-rounded"%>
</div>
<div class="col-xs-5">
	<h1>
	  <%= @project.name %>
	</h1>
	<h2 class="text-left">Created by: <em> <%= link_to @project.user.username, @project.user , :class =>"title-link"%></em></h2>
	<blockquote>
  		<p><%= @project.description %></p>

	</blockquote>
	
	
	<p class="text-right"> 
		<%= link_to @project.github_url do %>
           <%= image_tag "git-logo.png" ,:class => "img-link"%>
        <% end %>
	</p>
</div>
</div>
  </div>
</div>
